@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    /* make the logo responsive */
    width: 50%;
    max-width: 200px
}